* {margin:0;padding:0; box-sizing:border-box}
/* header,footer {color: white;  background-color: black; padding:1em; width:100%}
/* #headerfix {position:fixed; top:0; left:0; width:100%} */
/* footer {position:fixed; bottom:0; left:0;} */
/* header span.headertext {position: relative; top: -20px; padding-left: 40px; font-size: 2em;} */
/* nav  {background-color:darkgrey;}
nav li:nth-child(2n) {background-color: #848d9e;}
nav li:nth-child(2n+1) {background-color: #e2e4e8;}
nav::after{clear:both; content:""; display:block;}
nav li {list-style-type: none; display: inline-block; padding: 1.5em; float: right;
        border-left-style: solid; border-left-color: white; border-left-width: 1px; } */ */

/* -----------------------------------------------------------------------------
   The following CSS 3 Grid statements layouts the viewport (visible page).
  The Grid consists of the Header, the Navigation ,
  the scrollable Part (youTube, Fakultäten) and the footer
  In this case the Grid has four rows (height = auto) and 1 column with a
  width of 100 %
  The Header, the youTube and the Fakultäten become a flexbox
  The whole Grid is positioned fixed and row 3 should be made scrollable
  ----------------------------------------------------------------------------  */
    .pagegridcontainer {
      display:grid;
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      justify-items: stretch;
      align-items: stretch;
      grid-template-areas:
      "header"
      "navigation"
      "scroller"
      "footer";
    }
    .pagegridheader {grid-area: header}
    .pagegridnavigation {grid-area: navigation}
    .pagegridsrcol  {
      overflow-x: hidden;
      overflow-y: hidden;
      grid-area: scroller;
      display: flex;
      flex-flow: column;
      background-color: darkgray;
    }
    .pagegridsfooter  {
      grid-area: footer;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items:center;
      background-color: black;
      color:white;
    }
    .pagegridsfooter *{
      margin:10px 20px 10px 20px;
    }

.flexboxheader {
  display:flex; 
  flex-flow: row wrap;
  justify-content: center; 
  align-items: center;
  background-color: sandybrown;
}
.flexboxheader img{
  margin-right:3vw;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px
}
.flexboxheader h1{
  margin-right:8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.flexboxnav {
  display:flex;  
  flex-flow: wrap;
  justify-content: center;
  background-color: cadetblue;
}

/*Joint attributes*/
.flexyouTube, .flexFakultaet{
  margin: 20px;
  background-color: aliceblue;
}
.flexyouTube div,.flexFakultaet div:last-child,nav li a{
  font-size: 25px;
}
.flexFakultaet div:last-child, .flexyouTube div{
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  flex:1;
}

.flexyouTube {
  padding: 20px;
  display:flex; 
  flex-flow: row wrap;
  justify-content: flex-start;
}
.flexFakultaet {
  display:flex; 
  flex-flow: row wrap;
  justify-content: center;
  align-items:center;
}
.flexFakultaet div:first-child{
  font-size: 40px;
  text-align: center;
  background-color: lightslategrey;
  color: white;
  flex: 100%;
  padding: 20px;
}

#PullupOptions *, #showwindow *, #showWiki *{
  padding:5px;
  list-style-type: none; 
  text-decoration: none; 
}

#showwindow td, #showwindow th, #showWiki th, #showWiki td{
  border: 1px solid #ddd;
}

/*Misc*/
nav li  {
  list-style-type: none;
  margin: 10px;
}
nav li a { 
  text-decoration: none; 
  font-size: 30px;
  color: black;   
  font-weight: bold;
}
a:visited {
  color: blue;
}
a:hover, a:active, a:focus {
  color: aqua;  
  text-decoration: none;
}